<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container1">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <strong>Flash AHHHHHHH!!!!</strong>
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Register</h1>
        <form action="/register" method = "POST">
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <label for="password">Confirm Password:</label>
                <input type="password" name="confirm">
            </div>
            <button>Register</button>
        </form>
    </div>
    <div class="container2">
        {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                    <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <h1>Login</h1>
        <form action="/login" method = "POST">
            <div>
                <label for="email">Email:</label>
                <input type="text" name = "email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name = "password">
            </div>
            <button>Login</button>
        </form>
    </div>
</body>
</html>